<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Negotiatus Sales Dashboard</title>
  <meta name="description" content="Negotiatus Sales Dashboard">
  <meta name="author" content="Nevyn Duarte">

  <link rel="stylesheet" href="css/styles.css?v=1.0">


  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body style="overflow: hidden;">
  <p style="text-align: center; position: absolute; top: 2.5vh; left: 0vh; width: 100%; font-family: 'Lato', sans-serif; font-size: 200%; color: #4a4c4f; font-weight: 700;"><%= Time.now.strftime("%B %d, %Y") %></p>
  <div class="chart-container" style="z-index: 0; position: relative; float: left; height: 95vh; width: 49vw; margin-top: 0%">
    <p style="text-align: center; position: absolute; top: 5vh; left: 0vh; width: 100%; font-family: 'Lato', sans-serif; font-size: 700%; color: #50CEA2;">$<%= Order.completed.this_month.sum(:profit)  %></p>
    <p style="text-align: center; position: absolute; top: 30vh; left: 0vh; width: 100%; font-family: 'Lato', sans-serif; font-size: 300%; color: #4a4c4f;">Revenue: <span style="color: red">(<%= (Order.completed.completed_some_month(1).sum(:profit) - Order.completed.this_month.sum(:profit))/(Order.completed.completed_some_month(1).sum(:profit)) * 100 %>)%</span></p>
  </div>
  <div class="chart-container" style="z-index: 0; position: relative; float: right; height: 95vh; width: 49vw; margin-top: 0%">
    <p style="text-align: center; position: absolute; top: 5vh; left: 0vh; width: 100%; font-family: 'Lato', sans-serif; font-size: 700%; color: #50CEA2;">$<%= Order.completed.this_day.sum(:profit) %></p>
    <p style="text-align: center; position: absolute; top: 30vh; left: 0vh; width: 100%; font-family: 'Lato', sans-serif; font-size: 300%; color: #4a4c4f;">Revenue: <span style="color: red">(<%=(Order.completed.completed_in_day(1).sum(:profit) - Order.completed.this_day.sum(:profit))/(Order.completed.completed_in_day(1).sum(:profit)) * 100 %>)%</span></p>
  </div>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: ["January", "February", "March", "April", "May", "June", <%= Date::MONTHNAMES[Date.today.month] %>,
          datasets: [{
              label: "My First dataset",
              backgroundColor: 'rgb(237,241,245)',
              borderColor: 'rgb(237,241,245)',
              data: [<%= Order.completed.completed_some_month(6).sum(:profit) %>, <%= Order.completed.completed_some_month(5).sum(:profit) %>, <%= Order.completed.completed_some_month(4).sum(:profit) %>, <%= Order.completed.completed_some_month(3).sum(:profit) %>, <%= Order.completed.completed_some_month(2).sum(:profit) %>, <%= Order.completed.completed_some_month(1).sum(:profit) %>, <%= Order.completed.this_month.sum(:profit) %>],
              lineTension: 0,
          }]
      },


      // Configuration options go here
      options: {
        legend: {
            display: false
         },
         tooltips: {
            enabled: true
         },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              drawOnChartArea: false
            }
          }],
          yAxes: [{
            display: false,
            gridLines: {
              drawOnChartArea: false
            }
          }]
        }
      }
    });
  </script>
</body>
</html>

         },
         tooltips: {
            enabled: true
         },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              drawOnChartArea: false
            }
          }],
          yAxes: [{
            display: false,
            gridLines: {
              drawOnChartArea: false
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [{
              label: "My First dataset",
              backgroundColor: 'rgb(222, 230, 237)',
              borderColor: 'rgb(237,241,245)',
              data: [0, 10, 5, 2, 20, 30, 45],
              lineTension: 0,
          }]
      },


      // Configuration options go here
      options: {
        legend: {
            display: false
         },
         tooltips: {
            enabled: true
         },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              drawOnChartArea: false
            }
          }],
          yAxes: [{
            display: false,
            gridLines: {
              drawOnChartArea: false
            }
          }]
        }
      }
    });
  </script>
</body>
</html>
